<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>sul_detail</title>
</head>
<body>
	id: <span th:text="${sul.id}">1</span><br/>
	brand: <span th:text="${sul.brand}">샤또</span><br/>
	type: <span th:text="${sul.sulType.type}">막걸리</span><br/><br/>
	impression:
		<ul>			<!-- Sul entity의 private Set<Impression> impressions; -->
			<li th:each="imp: ${sul.impressions}"
			 	th:text="${imp.impression}">막걸리는 역시 샤또 막걸리</li>
		</ul>
	<hr/>
	<form th:action="@{/suls/review_ok}"  method="post" >
			<input type="hidden" name="sulId" th:value="${sul.id}">
			<textarea rows="7" cols="40" th:name="impression"
				placeholder="마신 후 감상평을 적어주세요"></textarea>
			<button type="submit">확인</button>
	</form>
</body>
</html>